.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1e3d58;
  color: white;
}

.header .logo {
  font-size: 1.5rem;
}

.header .nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.header .profile {
  font-size: 1.5rem;
}

.main-content {
  display: flex;
  height: calc(100vh - 120px);
  padding: 1rem;
}

.main-content .map-container {
  width: 60%;
}

.main-content .bus-list {
  width: 40%;
  padding-left: 2rem;
}

footer {
  padding: 1rem;
  background-color: #1e3d58;
  color: white;
  text-align: center;
}

footer .social-icons {
  margin-top: 1rem;
}

.legend {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}
